{%  extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}


{% block content_title %}
    Добро пожаловать на сайт кинотеатра!
{% endblock %}


{% block content %}

   <div class="row">

        <div class="col">

            <p><body><img src="https://avatars.mds.yandex.net/get-altay/374295/2a0000015b16e84f9207233579b16b786c8f/XXL" alt="picture" height="350"></body></p>

        </div>

       <div class="col">


            <p>
                Сеть кинотеатров «КАРО», основанная в 1997 году, установила новые стандарты оформления кинозалов в России. На сегодняшний день «КАРО» является ведущей сетью кинотеатров в России, управляющей 32 современными кинотеатрами (250 экранов) в Москве, Московской области, Санкт-Петербурге, Самаре, Казани, Калининграде, Екатеринбурге, Тюмени и Сургуте, которые ежегодно посещают почти 12 млн. человек.
                Контролирующим акционером «КАРО» является консорциум в составе ведущего инвестора UFG Private Equity, Российского фонда прямых инвестиций (РФПИ) и предпринимателя Пола Хета.
                1 июня 2013 года сеть «КАРО» стала первой 100% цифровой киносетью в России, обеспечив зрителям максимально высокий уровень кинопоказа.
                Киноцентр «Октябрь» — главный премьерный кинотеатр страны, ежегодно проводит более 50 премьер с участием голливудских и российских звезд, а также традиционно является местом проведения Московского Международного Кинофестиваля.
            </p>
        </div>

   </div>

{% endblock %}